<div class="existing-css-file">
  <h1>This is old school sprockets css.</h1>
</div>

<div class="container mx-auto">
  <h1 class="text-3xl text-pink-900">This is Tailwind.</h1>
</div>

<div data-svelte-component="DemoSvelteComponent">
</div>